body {
  font-family: Arial, sans-serif;
}

#authDiv, #userHome {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
}

button:hover {
  background-color: #45a049;
}

